
* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	color: rgb(0, 0, 0);
}

#parent {
	margin: 0 auto;
	width: 500px;
}

#form {
	display: flex;
	margin-bottom: 15px;
}
#form input {
	padding: 8px;
	width: 24%;
	margin: 0 0.5% 10px 0.5%;
}

h2 {
	margin-top: 0;
	margin-bottom: 7px;
	color: rgb(0, 0, 0);
}

#table {
	width: 100%;
	margin-bottom: 10px;
}
#table td, #table th {
	padding: 8px;
	text-align: center;
	border: 1px solid black;
}
#table td.remove {
	color: rgb(0, 0, 0);
	cursor: pointer;
	text-decoration: underline;
}


#result {
	text-align: right;
	margin-right: 10px;
}

td {
    background-color: rgba(39, 113, 251, 0.322);
}

th {
    background-color: rgba(155, 223, 46, 0.761);
}

input {
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgba(150, 224, 241, 0.6);
}

#add {
	text-decoration: underline;
	cursor: pointer;
}