
#field td {
	width: 110px;
	height: 110px;
	border: 1px solid rgba(255, 255, 255, 0.378);
	font-weight: bold;
}

body{
	background-image: url(fon.jpg);
}
table{
	display: flex; justify-content: center;
}
h1{
	text-align: center;
}
.red {
	background: rgb(176, 9, 9);
	border-radius: 10px;
}
.green {
	background: rgb(203, 34, 158);
	border-radius: 10px;
}
.blue {
	background: rgb(6, 117, 34);
	border-radius: 10px;
}
h1 {
    color: azure;
}
div {
    color: azure;
    font-size: x-large;
    display: flex; justify-content: center;
}