#field {
    border-collapse: collapse;
    display: flex; justify-content: center;
}
  
#field td {
    width: 120px;
    height: 120px;
    border: 3px solid black;
    text-align: center;
    font-size: 65px;
    cursor: pointer;
}
body {
    background-color: rgba(40, 160, 82, 0.489);  
}

td {
    background-color: rgba(126, 165, 199, 0.563);
}

h2 {
    display: flex; justify-content: center;
}


  